@import url('https://fonts.googleapis.com/css?family=Anton|Josefin+Sans');

*{
    margin: 0;
    padding: 0;
    outline: none;
}


body, html { 
    width: 100%; 
    height: 100%;
}


body {     
    background-color: #fafafa;
    font-family: 'Josefin Sans', sans-serif; 
}
     

/*Шапка сайта*/
header { 
    width: 100%; 
    padding: 10px 0.5% 0px 0.5%;
    background-color: transparent;
    float: left;
    position: fixed;
}


header #logo{ 
    color: #fff;
    cursor: pointer;
}


header #logo span { 
    font-size: 2.2em;
    line-height: 45px;
    margin-left: 40px;
    font-family: 'Anton', serif;
}


@media (min-width: 701px) { 
    #logo {
        float: left;
        width: 30%;
        font-size: 1.1em;
    }
    #about { 
        float: right; 
        width: 43%;
    }
}


@media (max-width: 700px) { 
    #logo { 
        margin-top: 15px;
        width: 100%;
        font-size: 1.5em;
    }
    #about { 
        float: left; 
        width: 100%;
    }
}


#about { 
    text-align: center;
    font-size: 1.1em; 
    line-height: 40px;
    margin-bottom: 10px;
}


#about > a {color: #ffffff}


#about > a:hover {
    color: #a2abb4;
    text-decoration: underline;
}


#about > a:not(:last-child) { 
    margin-right: 7%;
}


/*Стили для фиксированной шапки*/
.fixed { 
    z-index: 5000;
    background-color: #ffffff;
    border-bottom: 1px solid silver;
}

header.fixed #logo { 
    color: #343434;
}

.fixed #about a {color: #343434}
.fixed #about a:hover {color: #7c7c7c}


/*Главный блок на сайте*/
#top { 
    width: 100%;
    background-image: url(https://carlalexander.ca/app/uploads/2017/02/computer-notebook-1038x576.jpg);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.59);
    background-size: cover;
    text-align: center;
    color: #ffffff;
}


@media (min-width: 1001px) {
    #top {
        font-size: 3em; 
        height: 1000px;
    }
}


@media (max-width: 1000px) and (min-width: 651px) {
    #top {
        font-size: 2em; 
        height: 600px;
    }
}

@media (max-width: 650px) {
    #top {
        font-size: 1.3em; 
        padding-top: 50%;
        height: 500px;
    }
}


#top h1 { 
    padding-top: 20%; 
    
}


#top h3{
    color: #ffffff;
}


/*Блок с возможностями*/
#main {
    float: left;
    background-color: #f6f6f6;
    border-top: 2px solid silver;
    color: #484848;
    font-size: 1.3em;
}


@media (min-width: 1401px) {
    #main {
         padding: 100px 20%;
         width: 60%;
    }
}

@media (max-width: 1400px) {
    #main {
         padding: 100px 10%;
         width: 80%;
    }
}

@media (max-width: 700) {
    #main div {
         width: 98%!important;
         margin-bottom: 20px;
    }
}


#main div {
    width: 48%;
    margin-right: 2%;
    float: left;
}


#main h2 {font-size: 3em}
#main span {color: #a0a0a0}


/*Блок с картинками*/
#overview { 
    float: left;
    background-image: url(https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.78);
    background-attachment: fixed;
    
    padding: 100px, 0;
    width: 100%; 
    text-align: center;
    color: #fff;
}


#overview h2 {font-size: 4em; padding-top: 5%}
#overview h4 {color: #b4b4b4; font-size: 1.5em}


#overview .img {
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-top: 50px;
}


#overview .img:nth-child(odd) {
    margin-left: 18%;
}


#overview img {
    background: #fafafa;
    padding: 5px;
    border: 2px solid silver;
    float: left;
    width: 100%;
    max-width: 500px;
}


#overview span {
    float: left;
    width: 100%;
    font-size: 2em;
    margin-top: 10px;
}


@media (max-width: 700) {
    #overview .img {
         width: 80%!important;
         margin-right: 0!important;
         margin-left: 10%!important;
    }
}


/*Блок с контактами*/
#contacts {
    width: 100%;
    float: left;
    padding-bottom: 40px;
    padding-top: 70px;
    border-top: 4px solid #ccc;
    background: #f4f4f4;
}

h1, h2, h3, h4, h5 {
    font-weight: lighter;
}

h5 {font-size: 4em; color: #4f4f4f}


#formInput {
    margin-top: 15px;
    width: 35%;
    margin-left: 38%;
    font-size: 1.1em;
}


#formInput label {
    color: #505050;
    cursor: pointer;
    font-size: 1.4em;
}


#formInput label > span {
    color: #d45353;
}


#formInput input, #formInput textarea {
    margin-bottom: 10px;
    width: 70%;
    padding: 3% 2px;
    border-radius: 7px;
    border: 2px solid silver;
    font-size: 0.9em;
    color: #4a4a4a;    
} 


#formInput:focus input, #formInput:focus textarea {
    border-collapse: #333
}


.btn {
    float: left;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 1.2em;
    background-color: #393939;
    text-shadow: #151515 0 0 2px;
    cursor: pointer;
    color: white;
}


.btn:hover { 
background-color: #3c4045;
}


/*Вопросы и ответы*/
#faq {
    background-color: #ffffff;
    border-top: 2px dashed #414141;
    width: 100%;
    float: left;
    padding-top: 70px;
    padding-bottom: 70px;
}


#faq div {
    width: 25%;
    margin-left: 6%;
    float: left;
}


#faq .title {
    font-weight: lighter;
    color: #3c3c3c;
    margin-bottom: 20px;
    font-size: 2.2em;
}


#faq .heading {
    color: #535353;
    font-size: 1.3em;
    font-weight: bold;
}


#faq p {
    color: #646464;
    margin-bottom: 20px;
    font-size: 1em;
}
